@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:300');
/*---MAIN STYLES---*/
html,
body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

a, a:link,
a:hover, a:visited,
a:active {
  text-decoration: none;
}

a:hover {
  transition: all .3s ease-in-out;
}

section {
  border: 10px solid #fff;
  padding: 6rem 0rem;
  margin-top: -10px;
}

h1 {
  font-weight: 700;
}

p {
  font-family: 'Raleway', sans-serif;
}

/*---NAVBAR---*/
.navbar {
  position: absolute;
  top: 5%;
  width: 100%;
  color: white;
}

.navbar a {
  font-weight: 700;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
}
.navbar a:hover {
  background-color: gold;
  color: white;
}

/*---HOME---*/
.jumbotron {
  min-height: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;

  border: 10px solid #fff;
  background: linear-gradient(lightcoral, steelblue);

  font-weight: 400;
  color: white;

  padding: 0rem 3.5rem;

  margin-bottom: 0;
}

#opening-text {
  font-size: 7rem;
  font-weight: 700;
  margin-bottom: 0;
  text-shadow: 5px 5px 0 lightcoral;
}

.learn-more {
  position: absolute;
  left: 50%;
  bottom: 5%;
}

.up i {
  color: white;
}

/*---SKILLS---*/
#skills {
  background-color: #f0f0f0;
}

/*---PROJECTS---*/
.placeholder {
  background-color: lightgray;
  width: 100%;
  height: 200px;
}

.tech-stack {
  margin-bottom: 1rem;
}

/*---CONTACT---*/
#contact {
  background-color: gold;
}

.contact-text {
  margin-top: 5rem;
  font-size: 1.5rem;
}

.contact-text a {
  color: #333333;
}

.contact-text a:hover {
  color: white;
}

/*---FOOTER---*/
.footer {
  background-color: #333333;
  padding: 3rem 0;
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social-links a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #505050;
  border-radius: 45px;
  width: 40px;
  height: 40px;
  margin: 1rem 1rem;
}

.social-links a:hover {
  background-color: #404040;
}

.back-to-top i {
  color: white;
  margin: 0.7rem 0 1rem;
}

.footer-text {
  color: white;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  section {
    padding: 10rem 0rem;
  }

  #opening-text {
    font-size: 9rem;
  }
}